---
layout: "wrapper"
---

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <h1 class="major">{{page.title}}</h1>

        <!-- Image -->
        <section>
            <div class="box alt">
                <div class="row gtr-uniform">
                    <div class="col-12"><span class="image fit"><img src="{{site.baseurl}}{{page.main_image}}" alt="Main Image" /></span>
                    </div>
                </div>
                <em>{{page.date}} in {% for category in page.categories %}{{category}} {% endfor %}</em>
                <br />
                <br />
                {{content}}
            </div>
        </section>

    </div>
</section>