---
layout: "wrapper"
---

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <h1 class="major">{{page.title}}</h1>

        <!-- Image -->
        <section>
            <div class="box alt">
                <div class="row">
                    <!-- blog for loop starts here -->
                    <!-- blog box starts here -->
                    <div class="col-12 col-12-medium">
                        <a href="{{site.baseurl}}{{post.url}}">
                            <span class="image fit"><img src="{{site.baseurl}}{{post.main_image}}" alt="Project Image" /></span>
                            <h2>{{post.title}}</h2>
                            <em>Dec 01 2019 in {% for category in post.categories %}{{category}} {% endfor %}</em>
                            <p>{{post.subtitle}}</p>
                        </a>  
                    </div>
                    <!-- blog box ends here -->
                    <!-- blog box starts here -->
                    <div class="col-6 col-12-medium">
                        <a href="{{site.baseurl}}{{post.url}}">
                            <span class="image fit"><img src="{{site.baseurl}}{{post.main_image}}" alt="Project Image" /></span>
                            <h2>{{post.title}}</h2>
                            <em>Dec 01 2019 in {% for category in post.categories %}{{category}} {% endfor %}</em>
                            <p>{{post.subtitle}}</p>
                        </a>                             
                    </div>
                    <!-- blog box ends here -->
                    <!-- blog box starts here -->
                    <div class="col-6 col-12-medium">
                        <a href="{{site.baseurl}}{{post.url}}">
                            <span class="image fit"><img src="{{site.baseurl}}/assets{{post.main_image}}" alt="Project Image" /></span>
                            <h2>{{post.title}}</h2>
                            <em>Dec 01 2019 in {% for category in post.categories %}{{category}} {% endfor %}</em>
                            <p>{{post.subtitle}}</p>
                        </a>                           
                    </div>
                    <!-- blog box ends here -->
                    <!-- blog box starts here -->
                    <div class="col-4 col-12-medium">
                        <a href="{{site.baseurl}}{{post.url}}">
                            <span class="image fit"><img src="{{site.baseurl}}/assets/{{post.main_image}}" alt="Project Image" /></span>
                            <h2>{{post.title}}</h2>
                            <em>Dec 01 2019 in {% for category in post.categories %}{{category}} {% endfor %}</em>
                            <p>{{post.subtitle}}</p>
                        </a>
                    </div>
                    <!-- blog box ends here -->
                    <!-- blog box starts here -->
                    <div class="col-4 col-12-medium">
                        <a href="{{site.baseurl}}{{post.url}}">
                            <span class="image fit"><img src="{{site.baseurl}}/assets/{{post.main_image}}" alt="Project Image" /></span>
                            <h2>{{post.title}}</h2>
                            <em>Dec 01 2019 in {% for category in post.categories %}{{category}} {% endfor %}</em>
                            <p>{{post.subtitle}}</p>
                        </a>                           
                    </div>
                    <!-- blog box ends here -->
                    <!-- blog box starts here -->
                    <div class="col-4 col-12-medium">
                        <a href="{{site.baseurl}}{{post.url}}">
                            <span class="image fit"><img src="{{site.baseurl}}/assets/{{post.main_image}}" alt="Project Image" /></span>
                            <h2>{{post.title}}</h2>
                            <em>Dec 01 2019 in {% for category in post.categories %}{{category}} {% endfor %}</em>
                            <p>{{post.subtitle}}</p>
                        </a>                           
                    </div>
                    <!-- blog box ends here -->
                    <!-- blog for loop ends here -->
                </div>
            </div>
        </section>

    </div>
</section>