---
layout: "wrapper"
---

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <h1 class="major">{{page.title}}</h1>

        <!-- Image -->
        <section>
            <div class="box alt">
                <div class="row">
                    <!-- blog for loop starts here -->
                    {% for post in site.posts %}
                    <!-- blog box starts here -->
                        {% case forloop.index %}
                        {% when 1 %}
                        <div class="col-12 col-12-small">
                        {% when 2 or 3 %}
                        <div class="col-6 col-12-small">
                        {% else %}
                        <div class="col-4 col-12-small">
                        {% endcase %}
                        <a href="{{site.baseurl}}{{post.url}}">
                            <span class="image fit"><img src="{{site.baseurl}}{{post.main_image}}" alt="Project Image" /></span>
                            <h2>{{post.title}}</h2>
                            <em>{{ post.date | date: '%b %e, %Y' }} in {% for category in post.categories %}{{category}} {% endfor %}</em>
                            <p>{{post.subtitle}}</p>
                        </a>  
                    </div>
                    <!-- blog box ends here -->
                    {% endfor %}
                    <!-- blog for loop ends here -->
                </div>
            </div>
        </section>

    </div>
</section>