---
layout: "wrapper"
---
<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <h1 class="major">{{page.title}}</h1>

        <!-- Image -->
        <section>
            <div class="box alt">
                <div class="row">
                    <!-- project for loop starts here -->
                    <!-- project box starts here -->
                    <div class="col-4 col-12-medium">
                        <a href="project.html">
                            <span class="image fit"><img src="https://via.placeholder.com/1600x1200" alt="Project Image" /></span>
                            <h2>TODO Project</h2>
                            <em>CATEGORY, CATEGORY, CATEGORY</em>
                            <p>TODO Project subtitle</p>
                        </a>  
                    </div>
                    <!-- project box ends here -->
                    <!-- project box starts here -->
                    <div class="col-4 col-12-medium">
                        <a href="project.html">
                            <span class="image fit"><img src="https://via.placeholder.com/1600x1200" alt="Project Image" /></span>
                            <h2>TODO Project</h2>
                            <em>CATEGORY, CATEGORY, CATEGORY</em>
                            <p>TODO Project subtitle</p>
                        </a>                             
                    </div>
                    <!-- project box ends here -->
                    <!-- project box starts here -->
                    <div class="col-4 col-12-medium">
                        <a href="project.html">
                            <span class="image fit"><img src="https://via.placeholder.com/1600x1200" alt="Project Image" /></span>
                            <h2>TODO Project</h2>
                            <em>CATEGORY, CATEGORY, CATEGORY</em>
                            <p>TODO Project subtitle</p>
                        </a>                           
                    </div>
                    <!-- project box ends here -->
                    <!-- project box starts here -->
                    <div class="col-4 col-12-medium">
                        <a href="project.html">
                            <span class="image fit"><img src="https://via.placeholder.com/1600x1200" alt="Project Image" /></span>
                            <h2>TODO Project</h2>
                            <em>CATEGORY, CATEGORY, CATEGORY</em>
                            <p>TODO Project subtitle</p>
                        </a>
                    </div>
                    <!-- project box ends here -->
                    <!-- project box starts here -->
                    <div class="col-4 col-12-medium">
                        <a href="project.html">
                            <span class="image fit"><img src="https://via.placeholder.com/1600x1200" alt="Project Image" /></span>
                            <h2>TODO Project</h2>
                            <em>CATEGORY, CATEGORY, CATEGORY</em>
                            <p>TODO Project subtitle</p>
                        </a>                           
                    </div>
                    <!-- project box ends here -->
                    <!-- project box starts here -->
                    <div class="col-4 col-12-medium">
                        <a href="project.html">
                            <span class="image fit"><img src="https://via.placeholder.com/1600x1200" alt="Project Image" /></span>
                            <h2>TODO Project</h2>
                            <em>CATEGORY, CATEGORY, CATEGORY</em>
                            <p>TODO Project subtitle</p>
                        </a>                           
                    </div>
                    <!-- project box ends here -->
                    <!-- project for loop ends here -->
                </div>
            </div>
        </section>

    </div>
</section>