---
layout: "wrapper"
---
<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <h1 class="major">{{page.title}}</h1>

        <!-- Image -->
        <section>
            <div class="box alt">
                <div class="row">
                    <!-- project for loop starts here -->
                    {% for project in site.projects %}
                    <!-- project box starts here -->
                    <div class="col-4 col-12-medium">
                        <a href="{{site.baseurl}}{{project.url}}"">
                            <span class="image fit"><img src="{{site.baseurl}}{{project.main_image}}" alt="Project Image" /></span>
                            <h2>{{project.title}}</h2>
                            <em>{% for category in project.categories %} {{category}} {% endfor %}</em>
                            <p>{{project.subtitle}}</p>
                        </a>  
                    </div>
                    <!-- project box ends here -->
                    {% endfor %}
                    <!-- project for loop ends here -->
                </div>
            </div>
        </section>

    </div>
</section>